<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>

    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="eloquent-ruby.html">Eloquent Ruby</a>
      <a href="contact.html">Contact</a>
    </div>

    <h1>Contact Information</h1>

    <div>
      <h4>Feedback through email, Twitter, or Facebook is welcome.</h4>
      <table>
        <tr>
          <th>email</th>
          <td>goofy@email.com</td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td>@goofy</td>
        </tr>
        <tr>
          <th>Facebook</th>
          <td>www.facebook.com/goofy</td>
        </tr>
      </table>
    </div>

    <img src="../images/site-maintainer.png" alt="Site Maintainer">

  </body>
</html>
