<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aurea's Book Reviews</title>
  </head>
  <body>

    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="eloquent-ruby.html">Eloquent Ruby</a>
      <a href="contact.html">Contact</a>
    </div>

    <h1>Aurea's Book Reviews</h1>

    <ul>
      <li>
        <a href="eloquent-ruby.html">
          <img src="../images/cover-eloquent_ruby.jpg" alt="Eloquent Ruby Book Cover">
        </a>
      </li>
      <li>
        <img src="../images/cover-clean_ruby.jpg" alt="Clean Ruby Book Cover">
      </li>
      <li>
        <img src="../images/cover-confident_ruby.jpg" alt="Confident Ruby Book Cover">
      </li>
      <li>
        <img src="../images/cover-well_grounded_rubyist.jpg" alt="Well Grounded Rubyist Book Cover">
      </li>
      <li>
        <img src="../images/cover-ruby_science.jpg" alt="Ruby Science Book Cover">
      </li>
    </ul>

  </body>
</html>
